$cBlack: #07122a;
$cWhite: #ffffff;
$cGray: #bdbdbd;
/*==================for mobile========================*/
@media screen and (max-width: 40rem){

  .back__btn{
    position: relative;
    top: 20px;
    left: 30px;
    &:hover{
      opacity: 0.5;
    }
  }

  .list{
    position: relative;
    top: 50px;
    text-align: center;
    
    &::before{
      content:"";
      display:block;
      width:10px;
      height:10px;
      position:absolute;
      left:20%;
      top:40%;
      border-bottom: $cWhite 2px solid;
      border-right: $cWhite 2px solid;
      transform:rotate(45deg)translateY(-30%);
      }

    & select{
      appearance: none;
      text-align: center;
      width: 77%;
      height: 56px;
      padding: 5px 0px;
      font-size: 22px;
      border-radius: 7px;
      border: none;
      outline: none;
      background: $cBlack;
      color: $cWhite;
    }
  }

  .input{
    position: relative;
    top: 80px;
    display: block;
    text-align: center;

    & .comment{
      padding: 200px 70px;
      background-color:#7e9c84;
      border: none;
      outline: none;
      border-radius: 15px;
      box-shadow: 0 0 10px #475166;
    }
  }

  .provide{
    display: block;
    text-align: right;
    position: relative;
    top: 100px;
    right: 45px;

    &__btn{
      font-size: 17px;
      background-color: $cBlack;
      color: $cWhite;
      outline: none;
      border: none;
      cursor: pointer;
      border-radius: 7px;
      width: 100px;
      height: 35px;

      &:hover{
        opacity: 0.5;
      }
    }
  }
    

  footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 50px;
    background-color: $cBlack;
    height: 90px;

    & .ft__icon{
      display: flex;
      justify-content: space-around;
      padding-top: 20px;

      & .icon--btn{
        opacity: 0.5;
  
        &--active{
          opacity: 1;
        }
      }
    }
  }
}