/*==================for mobile========================*/
@media screen and (max-width: 40rem) {
  body {
    height: 100vh;
  }
  body header {
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #ffffff86;
  }
  body main {
    height: 120%;
  }
  .back__btn {
    display: inline-block;
    position: relative;
    width: 50px;
    margin: 0;
    top: 20px;
    left: 10px;
  }
  .back__btn:hover {
    opacity: 0.5;
  }
  .list {
    position: relative;
    top: 30px;
    text-align: center;
  }
  .list::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 20%;
    top: 40%;
    border-bottom: #ffffff 2px solid;
    border-right: #ffffff 2px solid;
    -webkit-transform: rotate(45deg) translateY(-30%);
            transform: rotate(45deg) translateY(-30%);
  }
  .list select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    text-align: center;
    width: 77%;
    height: 56px;
    padding: 5px 0px;
    font-size: 22px;
    border-radius: 7px;
    border: none;
    outline: none;
    background: #07122a;
    color: #ffffff;
  }
  .input {
    position: relative;
    top: 50px;
    display: block;
    text-align: center;
    background-color: #ebd9d9;
    border-radius: 35%;
  }
  .input .comment {
    width: 375px;
    height: 400px;
    background-color: #7e9c84;
    border: none;
    outline: none;
    border-radius: 5% 50%;
    -webkit-box-shadow: 0 0 5px #ebd9d9;
            box-shadow: 0 0 5px #ebd9d9;
  }
  #preview {
    display: inline-block;
    position: relative;
    top: 60px;
    left: 50px;
  }
  .file {
    text-align: center;
    position: relative;
    top: 50px;
  }
  .file .photo {
    display: inline-block;
    position: absolute;
    left: 50px;
    cursor: pointer;
    padding: 10px 10px;
  }
  .file .photo input {
    display: none;
  }
  .file .url {
    display: inline-block;
    position: absolute;
    left: 100px;
    cursor: pointer;
    padding: 10px 10px;
  }
  .file .url input {
    display: none;
    position: absolute;
    top: 25px;
    left: 60px;
    outline: none;
    border: #bdbdbd 1.5px solid;
  }
  .provide {
    display: block;
    text-align: right;
    position: relative;
    top: 120px;
    right: 45px;
  }
  .provide__btn {
    font-size: 17px;
    background-color: #07122a;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    width: 100px;
    height: 35px;
    -webkit-box-shadow: 0 0 5px #07122a;
            box-shadow: 0 0 5px #07122a;
  }
  footer {
    margin-top: 30px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #07122a;
    height: 90px;
  }
  footer .ft__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 20px;
  }
  footer .ft__icon .icon--btn {
    opacity: 0.5;
  }
  footer .ft__icon .icon--btn--active {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */