$cBlack: #07122a;
$cWhite: #ffffff;
$cGray: #bdbdbd;
/*==================for mobile========================*/
@media screen and (max-width: 40rem){

  body{
    height: 100vh;

    & header{
      text-align: center;
      position: sticky;
      top: 0;
      z-index: 99;
      background-color: #ffffff86;
    }

    & main{
      height: 120%;
    }
  }


  .back__btn{
    display: inline-block;
    position: relative;
    width: 50px;
    margin: 0;
    top: 20px;
    left: 10px;
    &:hover{
      opacity: 0.5;
    }
  }

  .list{
    position: relative;
    top: 30px;
    text-align: center;
    
    &::before{
      content:"";
      display:block;
      width:10px;
      height:10px;
      position:absolute;
      left:20%;
      top:40%;
      border-bottom: $cWhite 2px solid;
      border-right: $cWhite 2px solid;
      transform:rotate(45deg)translateY(-30%);
      }

    & select{
      appearance: none;
      text-align: center;
      width: 77%;
      height: 56px;
      padding: 5px 0px;
      font-size: 22px;
      border-radius: 7px;
      border: none;
      outline: none;
      background: $cBlack;
      color: $cWhite;
    }
  }

  .input{
    position: relative;
    top: 50px;
    display: block;
    text-align: center;
    background-color: #ebd9d9;
    border-radius: 35%;

    
    & .comment{
      width: 375px;
      height: 400px;
      background-color:#7e9c84;
      border: none;
      outline: none;
      border-radius: 5% 50%;
      box-shadow: 0 0 5px #ebd9d9;
    }
  }

  #preview{
    
    display: inline-block;
    position: relative;
    top: 60px;
    left: 50px;
  }

  .file{
    text-align: center;
    position: relative;
    top: 50px;
    
    & .photo{
      display: inline-block;
      position: absolute;
      left: 50px;
      cursor: pointer;
      padding: 10px 10px;


      & input{
        display: none;
      }
    }

    & .url{
      display: inline-block;
      position: absolute;
      left: 100px;
      cursor: pointer;
      padding: 10px 10px;

      & input{
        display: none;
        position: absolute;
        top: 25px;
        left: 60px;
        outline: none;
        border: $cGray 1.5px solid;
      }
    }
  }

  .provide{
    display: block;
    text-align: right;
    position: relative;
    top:120px;
    right: 45px;

    &__btn{
      font-size: 17px;
      background-color: $cBlack;
      color: $cWhite;
      outline: none;
      border: none;
      cursor: pointer;
      border-radius: 7px;
      width: 100px;
      height: 35px;
      box-shadow: 0 0 5px $cBlack;
    }
  }
    

  footer{
    margin-top: 30px;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: $cBlack;
    height: 90px;

    & .ft__icon{
      display: flex;
      justify-content: space-around;
      padding-top: 20px;

      & .icon--btn{
        opacity: 0.5;
  
        &--active{
          opacity: 1;
        }
      }
    }
  }
}